<div id="dialog-wrapper" mat-dialog-content (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="ui-controls">
        <h2>{{ mainphoto.title }}</h2>
    </div>
    <div class="test mainphoto-container">
        <img class="mainphoto" src={{mainphoto.img}} alt={{mainphoto.alt}}>
        <p class="caption">{{ mainphoto.description }}</p>
    </div>
    <div class="ui-controls ribbon-container-hidden">
        <div *ngFor="let photo of data.photos">
            <img class="thumbnail" src={{photo.img}} alt={{photo.alt}} (click)="activate(photo)">
        </div>
    </div>
    <a class="ui-controls prev" (click)="moveSlide(-1)">&#10094;</a>
    <a class="ui-controls next" (click)="moveSlide(1)">&#10095;</a>
</div>