h2, p {
    font-family:'Courier New', Courier, monospace;
    padding: 1rem;
}

p {
    white-space: pre-wrap;
}

mat-card {
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.crop-image {
    object-fit: scale-down;
}

img {
    object-fit: cover;
    border: 1px solid rgb(15, 14, 14);
    border-radius: 0.5rem;
}