$medium-spacing: 1.5rem;
$small-spacing: 1rem;

img {
    object-fit: scale-down;
    // border: 1px solid rgb(15, 14, 14);
    // border-radius: 10rem;
    padding-bottom: $small-spacing;
}

mat-card-content  {
    padding-left: $small-spacing;
}

mat-card {
    margin: $small-spacing;
    border-radius: $small-spacing;
}

  p {
      white-space: pre-wrap !important
  }
