<div class="grid-container">
  <mat-card class="item1">
    <mat-card-content>
      <h1>Zaela Rose</h1>
      <a href="https://www.w3schools.com/css/css3_gradients.asp"><h2>LinkedIn | GitHub</h2></a>
      <ng-container *ngFor="let position of resumePositions">
        <h3>{{ position.company }} - {{ position.jobTitle }}</h3>
        <h4>{{ position.startDate }} - {{ position.endDate }}</h4>
        <ul *ngFor="let jobFunc of position.jobFunctions">
          <li>{{ jobFunc.jobFunction }}</li>
        </ul>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <div class="item2">
    <ng-container *ngFor="let card of cards">
      <mat-card id={{card.title}}>
        <mat-card-header>
          <mat-card-title>{{ card.title}}</mat-card-title>
          <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngFor="let image of card.images">
          <img mat-card-md-image src={{image.src}} alt={{image.alt}}>
        </ng-container>
        <mat-card-content>
          <p>{{ card.description }}</p>
          <ng-container *ngFor="let link of card.links">
            <a href="{{link.url}}">{{ link.text }}</a>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
  <mat-card class="item3">
    <mat-card-header>
      <mat-card-title>Navigation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let navItem of cards">
          <a href="projects#{{navItem.title}}">{{ navItem.title }}</a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
