<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Tappy Pathogen</mat-card-title>
      <mat-card-subtitle>Android Game</mat-card-subtitle>
    </mat-card-header>
    <div>
        <img mat-card-xl-image src="../../assets/img/tappypathogen1.webp" alt="Photo of a Shiba Inu">
        <img mat-card-xl-image src="../../assets/img/tappypathogen2.webp" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p>
        A simple android game made over the span of about 6 hours and published to the google play store.
      </p>
      <p>
        This was a good opportunity to experience publishing an app, even if it's a small one.
      </p>
      <a href="https://play.google.com/store/apps/details?id=com.zaelaapps.TappyPathogen&gl=US">Tappy Pathogen in the Play Store</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Example</mat-card-title>
      <mat-card-subtitle>Some Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Example</mat-card-title>
      <mat-card-subtitle>Some Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </mat-card-content>
  </mat-card>